/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-image: url(./pic/Aoko\ Aozaki\ _\ Shizuki\ Soujuurou【Mahoutsukai\ no\ Yoru】.jpeg);
    background-size: cover;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

nav button {
    color: black;
    font-weight: bolder;
    font-size: 20px;
    border: none;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;
}

nav button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
}

.content {
    display: grid;
    grid-template-rows: 100px 1fr;
}

.header {
    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 3px solid #2255A2;
}

.title {
    font-size: 35px;
    font-family: fantasy, sans-serif;
}

.module {
  padding: 20px 30px;
}

.home-module-grid {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 80px 300px 80px 1fr;
}

.home-title {
  padding: 10px;
  font-size: 45px;
  font-family: fantasy, sans-serif;
  place-self: start;
  border-left: 10px solid #2255A2;
}

.home-content {
  white-space: pre-line;
  place-self: start;
  margin: 20px;
  font-size: 19px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hour {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.location {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.location-content {
  margin-top: 20px;
  margin-left: 40px;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hourlist {
  margin-top: 20px;
  list-style: none;
  font-size: 20px;
}


.hourlist li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}

.gifswrapper {
  gap: 40px;
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.gifswrapper img {
  height: 100px;
}

.menu-module-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px 1fr;
  gap: 15px;
}

.menu-title {
  padding: 10px;
  font-size: 45px;
  grid-column: 1 / 5;
  font-family: fantasy, sans-serif;
  align-self: center;
  border-left: 10px solid #2255A2;
}

.food-card {
  padding-top: 20px;
  font-family: fantasy, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-right: 5px solid #2255A2;
}

.food-title {
  font-size: 25px;
}

.food-price {
  font-size: 20px;
}

.food-card img {
  width: 210px;
  height: 210px;
}

.contact-module-grid {
  padding: 30px;
  display: grid;
  grid-template-rows: 80px repeat(3, 1fr);
  gap: 25px;
}

.contact-title {
  padding: 10px;
  font-size: 45px;
  font-family: fantasy, sans-serif;
  align-self: center;
  border-left: 10px solid #2255A2;
}

.contact-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.position {
  display: flex;
  gap: 10px;
  font-family: fantasy, sans-serif;
  font-size: 30px;
  align-items: center;
  font-weight: bold;
}

.position::before {
  display: inline-block;
  content: '';
  border-radius: 13px;
  width: 25px;
  height: 25px;
  background-color: #2255A2;
}


.info {
  width: 500px;
  padding: 20px;
  margin-left: 100px;
  border-left: 8px solid #2255A2;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

